* {
    background-color: lightgray;
}

h1 {
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkslateblue;
}

img {
    margin-bottom: 40px;
}

li {
    margin-bottom: 15px;
}